body {
/*  padding: 0px;
  margin: 0px;*/
  height: 100%;
  margin: auto;
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
  display: inline-block;
  background-color: #e2e2e2;
}


.container-fluid {
	background-color: white;
}

.heading {
	width: 100%;
	padding: 0px;
	margin-top: 2;
}

.globe {
	width: 120 px;
}

col-sm-6 {
	margin: 2em;
	padding-top: 6em;
	padding-left: 0em;
	padding-right: 0em;
	margin-bottom: -99999px;
    padding-bottom: 99999px;
    vertical-align:;
/*    padding-top: 4em;
*/}

.row {
	overflow: hidden;
	margin-bottom: 3em;
	margin-top: 3em;
	/*
	border-style: solid;
border-width: 0.5px; */
}

img {
	padding: 0.4em;
}

hr {
	width: 80%;
/*	margin-bottom: 5em;
*/}

.border-right {
	border-right: solid 10px black;
	margin-top: 0px;
}

.img-responsive {
	display: block;
	margin-left: auto;
	margin-right: auto;
/*	margin-top: 2em;*/
}

h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 5em;
	margin: 0px;
}

h2{
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 5em;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


h3 {
	font-size: 1.5em;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

h6{
	font-size: 20em;
}

.img-rounded {
	border-radius: 10px;
}

@media screen and (max-width: 760px) {
	.row {
		border-style: solid;
		border-width: 0.25px; 
		border-color: #e2e2e2;
		border-radius: 20px;
		margin: 3em;
	}
	img {
		margin-top: 2em;
		margin-bottom: 0em;
		padding: 0em;
	}
	.globe {
		width: 100px;
		margin: 0.4em;
		/*margin-top: 0px;
		padding-top: 0px;*/
	}

	.heading {
		padding: 0.4em;
	}

}